@import "color";
@import "layout";
@import "responsive-variables";
$share-background-color: transparentize(#888, 0.5);

$toolbar-width: 55px;
$toolbar-padding: 3px;
$toolbox-margin: 7px;

.SharingToolbar {
	background-color: $share-background-color;
	border-radius: 5px;
	left: 100%;
	margin-left: $toolbox-margin;
	min-width: $toolbar-width;
	padding: $toolbar-padding;
	position: absolute;
	top: -4px;
	z-index: 3;
	&.hidden {
		left: 0px;
		display: none;
	}
	&.loading {
		background: $share-background-color url(/skins/common/images/ajax.gif) no-repeat 50% 50%; /* $wgCdnStylePath */

		.shareButton {
			visibility: hidden;
		}
	}
	.fb-like {
		height: 61px;
	}
	.twitter-share-button {
		display: block;
		height: 62px;
	}
	.wikia-button {
		font-size: 11px;
		margin-top: 10px;
		.sprite {
			height: 12px;
		}
		padding-left: 5px;
		padding-right: 5px;
	}
	>:first-child {
		margin: 0 0 5px 0;
	}
}
