{{^notCreated}}
	<h1>{{ title }}</h1>
    <div id="interactive_map" class="interactive_map"></div>
{{/notCreated}}

{{#notCreated}}
	<p>This map page does not exist. Click "Create" to add it.</p>
{{/notCreated}}