{{^notCreated}}
	<table>
		<tr>
			<td>Title:</td>
			<td>{{title}}</td>
		</tr>
		<tr>
			<td>Page id / point id:</td>
			<td>{{pointId}}</td>
		</tr>
		<tr>
			<td>Map id:</td>
			<td>{{map.id}}</td>
		</tr>
		<tr>
			<td>Map:</td>
			<td><a href="{{map.url}}">{{map.title}}</a></td>
		</tr>
		<tr>
			<td>Link:</td>
			<td>{{link}}</td>
		</tr>
		{{#coordinates}}
		<tr>
			<td>Coordinates:</td>
			<td>( {{coordinates.x}}, {{coordinates.y}} )</td>
		</tr>
		{{/coordinates}}
		<tr>
			<td>Created:</td>
			<td>{{created}}</td>
		</tr>
		<tr>
			<td>Created by:</td>
			<td>{{createdBy}}</td>
		</tr>
		<tr>
			<td>Updated:</td>
			<td>{{updated}}</td>
		</tr>
		<tr>
			<td>Created by:</td>
			<td>{{updatedBy}}</td>
		</tr>
		{{#photo}}
		<tr>
			<td>Image:</td>
			<td>{{photo}}</td>
		</tr>
		{{/photo}}
		<tr>
			<td>Description:</td>
			<td>{{description}}</td>
		</tr>
	</table>
{{/notCreated}}

{{#notCreated}}
	<p>This map point page does not exist. Click "Create" to add it.</p>
{{/notCreated}}