<header class='preview-header'>Preview</header>
<div id='wpMobilePreviewWindow'></div>
<div id='wpMobilePreviewActions'>
    <p id='summaryText'>Summary:</p>
    <input class="mw-summary" id="wpSummary" maxlength="200" tabindex="1" size="60" spellcheck="true" title="Enter a short summary [b]" accesskey="b" name="wpSummary" placeholder="What did You change? [optional]">
    <input id="wpSave" name="wpSave" type="submit" tabindex="3" value="Publish" accesskey="s" title="Publish your changes [s]">
    <button id="wpBack" name="wpBack" tabindex="4" value="Preview" accesskey="b" title="Keep editing the article"></button>
    <p id="editpage-copywarn">
            Contributions licensed as <a href="http://community.wikia.com/wiki/Wikia:Licensing" class="extiw" title="w:Wikia:Licensing">CC-BY-SA</a>
    </p>
</div>