<!--<h1>Editing <?=$header?></h1>
<hr>-->

<form id="editform" name="editform" method="post" action="/wiki/Quinn_Fabray?action=submit" enctype="multipart/form-data"><input type="hidden" value="" name="wpSection">
<input type="hidden" value="20131118111628" name="wpStarttime">
<input type="hidden" value="20130918143540" name="wpEdittime">
<input type="hidden" value="" name="wpScrolltop" id="wpScrolltop">
<input type="hidden" value="d41d8cd98f00b204e9800998ecf8427e" name="wpAutoSummary">
    <input type="hidden" value="0" name="oldid"><div id="toolbar"></div>
    <textarea tabindex="1" accesskey="," id="wpTextbox1" cols="80" rows="25" style="" lang="en" dir="ltr" name="wpTextbox1"></textarea>

    <div class="editButtons">
        <button id="wpCancel" name="wpCancel" tabindex="4" value="Preview" class='wkButn gray' accesskey="b" title="Go back">Cancel</button>
        <input id="wpPreview" name="wpPreview" type="submit" tabindex="4" value="Preview" class='wkButn blue' accesskey="p" title="Preview your changes[p]">
    </div><!-- editButtons -->

<input type="hidden" value="+\" name="wpEditToken">
</form>